################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin
/src/obj
/srv/v1/*.ligma
/srv/v1/*.sugma
/srv/v1/*.bofa
